body{
  font-family: "Montserrat", sans-serif;
  color:olivedrab;
}
html,body{
    height:100%;
  }
h4, div{
  text-align: center;
}
li>a{
  text-decoration: none;
  color:olivedrab;
}


  aside#left{
    float:left; 
    width:15%; 
    height:70%;
  }
  section{
    float:left;
    width:60%;
    height:70%;
  }
  aside#right{
    float:right;
    width:22%;
    height:70%;
  }
  footer{
    clear:both;
  }

  ul.footer li{
    display: inline;
    margin: 50px
  }

  ul.nav{
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 15 10px;
  }
  ul.nav li{
    display: inline;
    margin: 50px
  }
  img{
    opacity: 1.0;
}
img:hover{
  opacity: 0.5;
}

img:hover{
    opacity: 0.5;
    transform: translate(0px, 100px);
}

img:hover{
  transition: 5s;
}


